{{ form_start(form) }}

<label for="">{{ form_label(form.name, 'Nom du produit :') }}</label>
{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'nom'}}) }}
{{ form_errors(form.name) }}

{{ form_rest(form) }}

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
